@use "./../../Assets/Styles/variables" as *;

.header {
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    font-family: $font-title-one;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: larger;
    text-shadow: 0 0 10px $clr-white, 0 0 5px $clr-yellow;
}