@use "./../../Assets/Styles/variables" as *;


.toDo {
    &__container--one{
        width: 40vw;
        height: auto;
        background-color: $clr-white;
        color: $clr-black;
        border: 9px solid $clr-yellow;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        align-items: center;
        font-family: $font-title-one;
        margin-bottom: 100px;
    }
    
    &__container--two{
        background-color: $clr-white;
        color: $clr-black;
        border-radius: 8px;
        display: flex;
        padding: 20px 20px;
        align-items: center;
        font-family: $font-title-one;
    }

    p {
        display: flex;
        align-items: center;
        background-color: $clr-light-yellow;
        font-family: $font-title-two;
        font-size: smaller;
        letter-spacing: 2px;
        padding-right: 10px;
    }

    .megaphone {
        padding: 0 10px;
        height: 20px;
    }

    &__tasks {
        border-radius: 8px;
        margin-bottom: 20px;
        align-self:center;
        width: 100%;
    }

    &__taskItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        border: 1px solid $clr-black;
        border-radius: 8px;
        padding: 5px 5px;
        font-family: $font-text;
    }

    ul {
        list-style-type: none;
        margin: 10px 0;
        padding-right: 40px;
    }

    &__inputCheckbox {
        text-align: start;
    }

}

button {
    background-color: $clr-white;
    border: none;
}

.completedTask {
    text-decoration: line-through;
}


