@use "./../../Assets/Styles/variables" as *;

.resetBtn {
  border-radius: 8px;
  background-color: $clr-yellow;
  border: none;
  width: 80px;
  padding: 10px 10px;
  color: $clr-white;
  font-family: $font-text;
  font-weight: bolder;
  font-size: 12px;

  &:hover {
    background-color: $clr-black-opacity;
    color: $clr-black;
    cursor: pointer;
  }
}
@media screen and (min-width: 1440px) {
  .resetBtn {
    border-radius: 8px;
    background-color: $clr-yellow;
    border: none;
    width: 80px;
    padding: 10px 10px;
    color: $clr-white;
    font-family: $font-text;
    font-weight: bolder;

    &:hover {
      background-color: $clr-black-opacity;
      color: $clr-black;
      cursor: pointer;
    }
  }
}
