.forecast {
    width: 300px;
    height: 300px;
    background-color: #928b8886;
    color: black;
    border: 9px solid #d7c435;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lobster;
    padding: 10px;

    &__title {
        font-size: 2em;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        color: white;
        padding-right: 40px;
    }

    &__list--item {
        display: flex;
        align-items: center;
        font-family: anton;
        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 8px;
        border: solid 1px black;
        margin: 10px 0;
        padding: 10px;
    }

    &__icon{
        padding-right: 10px;
    }

}