@use "./../../Assets/Styles/variables" as *;

.location {
    width: 55vw;
    height: 30vw;
    background-color: $clr-white;
    color: $clr-black;
    border: 9px solid $clr-yellow;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: $font-title-one;

    &__title {
        font-size: 2em;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    &__list--item {
        display: flex;
        margin: 20px 10px;
        align-items: center;
    }

    &__icon {
        padding-right: 10px;
    }

    .mapPinned {
        padding-right: 10px;
    }
}