@use "./../../Assets/Styles/variables" as *;

// @media screen and (min-width: 768px) {

.addTask__input {
    border-radius: 8px;
    padding: 10px 10px;
    border: 1px solid $clr-light-yellow;
    font-family: $font-text;
    margin: 0 10px;

    &:hover {
        background-color: $clr-black-opacity;
        color: $clr-white;
        cursor: pointer;
    }
}


.addTask__btn {
    border-radius: 8px;
    background-color: $clr-light-yellow;
    border: none;
    width: 30px;
    padding: 10px 10px;
    color: $clr-white;
    font-family: $font-text;
    font-weight: bolder;
    margin: 0 10px;

    &:hover {
        background-color: $clr-black-opacity;
        color: $clr-black;
        cursor: pointer;
    }
}