$font-title-one: 'Lobster', sans-serif;
$font-title-two: 'Anton', sans-serif;
$font-text: 'Quicksand', sans-serif;
$clr-black:  black;
$clr-white:  #fff;
$clr-grey:  #928b8886;
$clr-yellow: #d7c435;
$clr-light-yellow: #caba3d;
$clr-white-opacity: rgba(255, 255, 255, 0.363);
$clr-black-opacity:  rgba(27, 26, 26, 0.363);
