@use "./../../Assets/Styles/variables" as *;

.footer {
  &__container {
    width: 100vw;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(
      -45deg,
      #928b8869,
      #d7c4358b,
      #23a5d596,
      #23d5aba2
    );
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__button {
    border: 1px solid $clr-white;
    border-radius: 50%;
    padding: 8px;
    margin: 20px 30px;
    background-color: $clr-white-opacity;

    &:hover {
      background-color: $clr-black-opacity;
      color: $clr-black;
      cursor: pointer;
    }
  }

  &__icon {
    color: $clr-white;
  }
}
