@use "./../../Assets/Styles/variables" as *;

.footer {
  &__container {
    width: 100vw;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: linear-gradient(
      -45deg,
      #928b8869,
      #d7c4358b,
      #23a5d596,
      #23d5aba2
    );
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
